.control-panel {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    min-height: 48px;
    background: rgb(44,35,38);
    background: linear-gradient(0deg, rgba(44,35,38,1) 0%, 
        rgba(34,35,39,1) 45%, rgba(33,29,30,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .control-group {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:first-child {
            justify-content: flex-start;
        }

        &:last-child {
            justify-content: flex-end;
        }
    }
}